!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title Screensmart
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
  %body
    %header
      .brand-logo
        = image_tag 'screensmart.png'

    = yield
    = javascript_include_tag 'application'
